body {
    padding: 0;
    margin: 20px;
    background-color: #777;
}
.container {
    max-width: 768px;
    margin: auto;
    border: 3px solid #ddd;
    background-color: #ddd;
    border-radius: 5px;
}
.main-img img,
.img-grid img {
    width: 100%;
}
.img-grid {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3px;
}
.img-grid img:hover {
    cursor: pointer;
}